@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

.about{
    display: flex;
    min-height: 100vh;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
}
.container3{
    position: relative;   
    width: 450px;
    background: white;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}
.users{
    padding: 25px 30px;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1.5px solid #e6e6e6;
}
.container3 img{
    object-fit: cover;
    border-radius: 50%;
}
.users header .content,
.users-list a .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    width: 60px;
    height: 60px;
}
.users header .details,
.users-list a .content .details{
    color: #000;
    margin-left: 15px;
}
.users header .details span{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.users-list a .content .details span{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.users .search .text{
    font-size: 18px;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1.5px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    font-family: 'Poppins', sans-serif;
}
.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}
.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    background: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.users .search button.active{
    background: #00dbde;
}
.users .search button .img2,
.users .search button.active .img1{
    display: none;
}
.users .search button.active .img2{
    display: block;
    height: 35px;
    margin-left: 12px;
}
.users .search button img{
    width: 55%;
    height: 55%;
    object-fit: cover;
}
.users-list{
    max-height: 390px;
    overflow-y: auto;
}
.users-list::-webkit-scrollbar,
.chat-box::-webkit-scrollbar{
    width: 0px;
}
.users-list a{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #e8e8e8;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content img{
    height: 47px;
    width: 47px;
}
.users-list a .content p{
    color: #67676a;
}
.users-list a .status-dot{
    height: 12px;
    width: 12px;
    background: green;
    border-radius: 50%;
}
.users-list a .status-dot.offline{
    background: #ccc;
}
.users h2{
    align-items: center;
    display: none;
    justify-content: center;
    background: linear-gradient(to right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.users h2.active{
    display: flex;
}


/*  ===============================================================================================
                                            Chatroom Page
===================================================================================================*/

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header .back-icon img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin: 0 -15px;
}
.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 17px;
}
.chat-area header span{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.chat-box{
    height: 300px;
    max-height: 500px;
    overflow-y: auto;
    text-align: justify;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
    display: flex;
    align-items: flex-end;
}
.chat-box .outgoing img{
    height: 35px;
    width: 35px;
}
.outgoing .details{
    margin-right: 10px;
    margin-left: auto;
    max-width: calc(100% - 140px);
}
.outgoing .details p{
    background: #98fb98;
    color: black;
    border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming img{
    height: 35px;
    width: 35px;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 140px);
}
.incoming .details p{
    background: #afeeee;
    color: black;
    border-radius: 18px 18px 18px 0;
}
.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input{
    height: 47px;
    width: calc(100% - 58px);
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 8px 0 0 8px;
    outline: none;
}
.typing-area button{
    width: 55px;
    height: 47px;
    border: none;
    outline: none;
    background: #00a8ff;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}
.typing-area button img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}