@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;   
}
body{
    min-height: 100vh;
    background-image: url("../pictures/bg.jpg");
    background-size: cover;
    background-position: center;
}


.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.navbar.sticky{
    padding: 10px 0;
    background: #87cefa;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar .nav-logo{
    height: 50px;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
    cursor: pointer;
}
.menu-list li a{
    color: #111;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: blue;
}
.menu-list li ul{
    position: absolute;
    width: auto;
    height: 147px;
    padding-top: 24px;
    background: none;
    display: none;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.menu-list li ul li{
    width: 100%;
    text-align: center;
    padding: 25px 25px 15px 1px;    
}
.menu-list li:hover > ul{
    display: block;
}
.navbar.sticky .content .menu-list li ul{
    background: #87cefa;
}
.navbar.sticky .content .menu-list li ul li{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.icon{
    color: #111;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.about{
    padding: 65px 0;
}
/*.about p{
    padding-top: 20px;
    text-align: justify;
}*/

/*  ===============================================================================================
                                            About Page
===================================================================================================*/

.aboutp{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: white;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    margin-top: 50px;
    transition: 1s;
    border-radius: 5px;
}
.card:hover{
    transform: translateX(50%);
}
.card .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #000;
    transition: 1s;
    border-radius: 5px;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.35);
}
.card:hover .imgBox{
    transform: rotateY(-180deg);
}
.card .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card .imgBox img:nth-child(2){
    transform: rotateY(180deg);
}
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details .contentp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details .contentp h2{
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 32px;
    color: red;
}
.card .details .contentp h2 span{   
    background: linear-gradient(to right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 26px;
    font-weight: bold;
    line-height: 0.8em;
}
.card .details .contentp span{
    font-weight: 500;
    color: darkgray;
    font-size: 15px;
    margin-bottom: 10px;
}
.card .details .contentp p{
    color: dimgrey;
    font-size: 16px;
    margin-top: 4px;
}
.card .details .contentp p img{
    margin-right: 5px;
}
.card .details .contentp .social-icons{
    position: relative;
    display: flex;
    margin-top: 10px;
}
.card .details .contentp .social-icons a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 8px;
}
.wrapper{
    display: none;
}


@media(max-width: 900px){
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 75%;
        max-width: 400px;
        background: #87cefa;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu-list.active{
        left: 0;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
        font-weight: bold;
    }
    .menu-list li ul{
        position: relative;
        width: auto;
        height: 172px;
        padding: 1px 0 13px 0;
        background: #78bce7;
        margin: 0 7%;
        border-radius: 0;
    }
    .menu-list li ul li{
        padding: 0px 0 14px 0;;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}
@media(max-width: 650px){
    .card{
        display: none;
    }
    .wrapper{
        display: block;
        width: 300px;
        height: 400px;
        perspective: 1000px;
        margin-top: 50px;
        text-align: center;
        box-shadow: 0 20px 35px rgba(0,0,0,0.35);
    }
    .flip-inner-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transform-style: preserve-3d;
        transition: transform 0.8s;
    }
    .wrapper:hover .flip-inner-wrapper{
        transform: rotateY(180deg);    
    }
    .flip-front,
    .flip-back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .flip-front{
        background: #fff;
    }
    .flip-front img{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .flip-back{
        width: 300px;
        height: 400px;
        background: white;
        text-align: center;
        transform: rotateY(180deg);
    }
    .flip-back img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: 20px;
    }
    .flip-back h2{
        text-align: center;
        font-weight: 700;
        line-height: 1.2em;
        font-size: 30px;
        color: red;
    }
    .flip-back h2 span{
        background: linear-gradient(to right,#00dbde,#fc00ff,#00dbde,#fc00ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 26px;
        font-weight: bold;
        line-height: 0.8em;
    }
    .flip-back span{
        font-weight: 500;
        color: darkgray;
        font-size: 15px;
    }
    .flip-back p{
        color: dimgrey;
        font-size: 17px;   
    }
    .flip-back p img{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .flip-back .social-icons{
        position: relative;
        display: flex;
        margin-top: 10px;
        margin-left: 18%;
    }
    .flip-back .social-icons a{
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-left: 12px;
    }
    .flip-back .social-icons a img{
        width: 35px;
        height: 35px;
        border-radius: 0;
    }
}